.star-filled{
    fill: green!important;
}

.star-empty{
    color: rgb(255, 196, 1);
}
.rating-container{
    display: flex;
}
.rating-container button:focus{
    outline: none!important;
}
.rating-container button{
    padding: 5px!important;
    margin: 15px;
}

.rating-container button:first-child{
    margin-left: 0px;
}